<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../../express-study/003notepad/frontend-angular1/angular.min.js"></script>
</head>
<body>
<div ng-app="myApp" ng-controller="myCtrl">
    名: <input type="text" ng-model="firstName"><br>
    姓: <input type="text" ng-model="lastName"><br>
    姓名:{{firstName+" "+lastName}}
</div>
<script>
    //    angularJS 模块（Module） 定义了 AngularJS 应用。
    var app = angular.module('myApp', []);
    //AngularJS 控制器
    app.controller('myCtrl', function ($scope) {
        $scope.firstName = "Jone";
        $scope.lastName = "Doe";
    })
</script>
</body>
</html>